<div class="container">
<h2><%= @list.name %></h2>
<p><% @list.movies.each do |movie| %></p>
<p><% bookmark = Bookmark.find_by(list: @list, movie: movie) %></p>
<h3><%= movie.title %></h3>
<h4><%= bookmark.comment %></h4>
<h5><%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete} %></h5>
<% end %>
</div>
